<footer>
    <div class="footer-content">
      <p>&copy; 2024 Pokedex. Todos los derechos reservados.</p>
      <div class="footer-socials">
        <a href="https://facebook.com" target="_blank" class="social-icon">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank" class="social-icon">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://instagram.com" target="_blank" class="social-icon">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://github.com" target="_blank" class="social-icon">
          <i class="fab fa-github"></i>
        </a>
      </div>
    </div>
  </footer>
  