<header>
  <div class="header-container">
    <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
    <h1>Pokédex</h1>
    <section class="searchbar">
      <input type="text" id="search" placeholder="Buscar Pokémon..." onkeyup="searchPokemon()">
    </section>
  </div>

  <div class="sidebar" id="sidebar">
    <button class="close-btn" onclick="toggleSidebar()">×</button>
    <ul class="sidebar-menu">
      <% Object.keys(generations).forEach((generation) => { %>
        <li>
          <a href="#generation-<%= generation %>" onclick="scrollToSection('<%= generation %>')">Generación <%= generation %></a>
        </li>
      <% }); %>
    </ul>
  </div>
</header>
