:root {
  --color-primary: #121212;
  --color-secondary: #ffffff;
  --color-background: #f4f4f9;
  --color-shadow: rgba(0, 0, 0, 0.1);
  --color-hover: #202020;
  --color-inner-hover: #535353;
  
  --color-grass: #78C850;
  --color-fire: #F08030;
  --color-water: #6890F0;
  --color-electric: #F8D030;
  --color-ice: #98D8D8;
  --color-fighting: #C03028;
  --color-poison: #A040A0;
  --color-ground: #E0C068;
  --color-flying: #A890F0;
  --color-psychic: #F85888;
  --color-bug: #A8B820;
  --color-rock: #B8A038;
  --color-ghost: #705898;
  --color-dragon: #7038F8;
  --color-dark: #705848;
  --color-steel: #B8B8D0;
  --color-fairy: #EE99AC;
  --color-normal: #A8A878;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  z-index: 1000;
}

header h1 {
  font-size: 2.5rem;
  margin: 10px;
}

.searchbar {
  flex-grow: 1;
  margin: 10px;
  margin-bottom: 20px;
}

.searchbar input {
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.generation {
  background-color: var(--color-secondary);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--color-shadow);
  padding: 20px;
  border: 1px solid var(--color-shadow);
  margin: 5px;

}

.generation-header {
  cursor: pointer;
  font-size: 1.5rem;
  margin: -20px;
  padding: 10px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 10px;
  text-align: left;
  display: flex;
  align-items: center;
}

.generation-header:hover {
  background-color: var(--color-hover);
}

.toggle-icon {
  display: inline-block;
  width: 0;
  height: 0;
  margin-right: 10px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid var(--color-secondary);
  transition: transform 0.3s ease;
}

.generation.collapsed .toggle-icon {
  transform: rotate(-90deg);
}

.generation.collapsed .pokemon-container {
  display: none;
}

.generation h2 {
  text-align: center;
  font-size: 1.8rem;
  color: var(--color-secondary);
}

.pokemon-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.pokemon-card {
  background-color: var(--color-secondary);
  padding: 0px;
  width: 160px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px var(--color-shadow);
  transition: box-shadow 0.3s ease;
}

.pokemon-link {
  display: block;
  text-decoration: none;
}

.pokemon-image {
  width: 100%;
  height: 100px;
  object-fit: contain;
}

.pokemon-types {
  display: flex;
  gap: 0;
  justify-content: space-between;
  width: 100%;
}

.type-icon {
  width: 50%;
  height: auto;
  object-fit: contain;
  margin: 0;
}

.pokemon-name {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
  color: var(--color-secondary);
  background-color: var(--color-secondary);
  padding: 5px;
  text-transform: capitalize;
}

.pokemon-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
  box-shadow: 0 0 15px var(--color-shadow);
}

footer {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
  border-top: 5px solid var(--color-hover);
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-content p {
  margin: 0;
  font-size: 1rem;
}

.footer-socials {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 15px;
}

.social-icon {
  font-size: 1.5rem;
  color: var(--color-secondary);
  transition: color 0.3s ease;
  text-decoration: none;
}

.social-icon:hover {
  color: var(--color-inner-hover);
}

.pokemon-name.grass {
  background-color: var(--color-grass);
}

.pokemon-name.fire {
  background-color: var(--color-fire);
}

.pokemon-name.water {
  background-color: var(--color-water);
}

.pokemon-name.electric {
  background-color: var(--color-electric);
}

.pokemon-name.ice {
  background-color: var(--color-ice);
}

.pokemon-name.fighting {
  background-color: var(--color-fighting);
}

.pokemon-name.poison {
  background-color: var(--color-poison);
}

.pokemon-name.ground {
  background-color: var(--color-ground);
}

.pokemon-name.flying {
  background-color: var(--color-flying);
}

.pokemon-name.psychic {
  background-color: var(--color-psychic);
}

.pokemon-name.bug {
  background-color: var(--color-bug);
}

.pokemon-name.rock {
  background-color: var(--color-rock);
}

.pokemon-name.ghost {
  background-color: var(--color-ghost);
}

.pokemon-name.dragon {
  background-color: var(--color-dragon);
}

.pokemon-name.dark {
  background-color: var(--color-dark);
}

.pokemon-name.steel {
  background-color: var(--color-steel);
}

.pokemon-name.fairy {
  background-color: var(--color-fairy);
}

.pokemon-name.normal {
  background-color: var(--color-normal);
}

.sidebar-toggle {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  padding: 10px 15px;
  font-size: 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1000;
}

.sidebar-toggle:hover {
  background-color: var(--color-hover);
}

.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  height: 100%;
  width: 250px;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  box-shadow: 2px 0 5px var(--color-shadow);
  transition: left 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.sidebar.open {
  left: 0;
}

.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  color: var(--color-secondary);
  font-size: 1.5rem;
  cursor: pointer;
  margin: 10px;
}

.close-btn:hover {
  color: var(--color-inner-hover);
}

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar-menu li {
  margin-bottom: 15px;
  border-bottom: 1px solid var(--color-inner-hover);
  padding-bottom: 15px;
}

.sidebar-menu a {
  text-decoration: none;
  color: var(--color-secondary);
  font-size: 1.2rem;
  transition: color 0.3s ease;
  padding: 5px 0;
}

.sidebar-menu a:hover {
  color: var(--color-inner-hover);
}
